*{
    padding: 0;
    margin: 0;
}
/* login */

#login{
    height: 100vh !important;
}
/* login */
/* navbar */
  .bg-body-tertiary {
    background-color:rgb(255, 255, 255, 0.8)  !important; /* Warna teks hitam transparan */
    padding: 10px 0;
    position: fixed;
    width: 100vw;
    height: 66px;
    display: flex;
    flex-direction: row;
  }

  .navbar-brand {
    color: rgba(0, 0, 0, 0.8) !important; /* Warna teks hitam transparan */
    transition: color 0.3s ease-in-out;
    margin-bottom: 0; /* Menghilangkan margin bawah agar teks tidak memiliki ruang kosong */
  }

  .navbar-brand:hover {
    color: #666666 !important; /* Warna teks saat di-hover */
  }
  .navbar-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Set tinggi agar konten di dalamnya berada di tengah vertikal */
    width: 13%;
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 19px;

}
.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px; /* Jarak antar menu */
}

.nav-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
.nav-item{
  padding-bottom: 100%;
  margin-left: 7px;
  margin-bottom: 10px;
}
.nav-link:hover {
  color: #666666;
}
.navbar-social-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px; /* Jarak antara sosial media dan menu */
}
.navbar-menu-social-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
  height: 100%;
}
.navbar-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Set tinggi agar konten di dalamnya berada di tengah vertikal */
  width: 13%;
  display: flex;
  align-items: center;
  margin-left: 17px;
}

.navbar-logo {
    max-width: 50px;
    height: auto;
    margin-right: 10px; /* Memberikan jarak antara logo dan teks */
}
.small-text {
    font-size: 0.8em; /* Mengatur ukuran teks kecil */
    color: #666; /* Memberikan warna teks yang lebih gelap */
}
/* navbar */

/* herosection */
.hero {
    background-image: url("img/BG.png");
    /* background-color: aquamarine; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    height: 630px;
}
/* profil */
.section {
  /* background-image: url("img/BG.png"); */
  background-color: rgb(189, 189, 189);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  height: 630px;
}
.container {
    width: 80%; 
    margin: 0 auto; 
}
.section .kotak {
  width: 100%; /* Lebar kotak */
  height: 137%; /* Tinggi kotak */
  background-image: url(img/th.jpg);
  margin-top: -79px; /* Mengangkat kotak lebih ke atas */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  height: 630px;
  box-shadow: 0px 10px 10px rgba(22, 22, 22, 0.5); /* Menambahkan efek bayangan ke bawah */
}
/* profil */
.ekstra {
  /* background-image: url("img/BG.png"); */
  background-color: rgb(189, 189, 189);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  height: 630px;
  padding: 20px;
}
.galeri {
  width: 1350px; /* Lebar kotak */
  height: 100%; /* Tinggi kotak */
  background-image: url(img/galeri.png);
  margin-top: 0; /* Mengangkat kotak lebih ke atas */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  height: 100%;
  box-shadow: 0px 10px 10px rgba(22, 22, 22, 0.5); /* Menambahkan efek bayangan ke bawah */
  border-radius: 0%;
}
/* Galeri */